# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Build output
client/build/
server/build/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.local

# Ignore VSCode settings
.vscode/
